#jobs-banner{
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: skewY(-4deg);
  transform-origin: 0;
  background: linear-gradient(130deg, $blue-light 15%, $blue 50%, $green 90%);
  background-size: 100%;
  position: absolute;
}
#job-top{
  margin-top: 130px;
}
.card-job{
  position: relative;
  min-height: 320px;
}

@media all and (max-width: 500px) {
   .card-job{
    min-height: 400px;
   }
}
.job-buttons-wrapper{
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 0;
  a{
    font-size: 13px;
  }
}
#job-description-button{
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}
.image-job{
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}
.content-job{
  width: 80%;

}


#jobs{
  #stripes{
    width: 100%;
    height: 76%;
    display: block;
    overflow: hidden;
    // transform: skewY(-4deg);
    transform-origin: 0;
    background: linear-gradient(180deg, $purple-dark 20%, $purple-light 75%);
    position: absolute;
  }
  #waves{
    width: 100%;
    height: 24.059029%;
    bottom: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    background-size: cover;
  }
  #intro{
    position: relative;
    display: flex;
    height: 325px;
  }
}
