#product{
  #stripes{
    width: 100%;
    height: 76%;
    display: block;
    overflow: hidden;
    // transform: skewY(-4deg);
    transform-origin: 0;
    background: linear-gradient(180deg, $blue-light 20%, $blue 75%);
    position: absolute;
  }
  #waves{
    width: 100%;
    height: 24.059029%;
    bottom: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    background-size: cover;
  }
  #intro{
    position: relative;
    display: flex;
    height: 325px;
  }
}
section.section-pricing{
  margin-top: 20px;
}
#product-description-container{
  position: relative;
  #product-banner{
    background-color: $blue-ultra-light;
    transform: skewY(-4deg);
    transform-origin: 0;
    height: 840px;
  }
  #product-description{
    position: absolute;
    top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    padding: 30px 40px;
    .product-line{
      padding: 20px 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      h3{
        flex-basis: 30%;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
      p{
        flex-basis: 30%;
        font-size: 16px;
        font-weight: lighter;
        margin: 0;
      }
      .product-image{
        text-align: center;
        border-radius: 50%;
        border-style: solid;
        border-width: 4px;
        border-color: $blue;
        height: 90px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
    }
  }
}
#product-screenshots{
  margin-bottom: 80px;
  h2{
    margin-bottom: 30px
  }
}
#product-features{
  @media all and (max-width: 768px){
    width: 80%;
  }
  @media all and (min-width: 769px){
    width: 70%;
  }
  margin: auto;
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .feature-card{
      @media all and (max-width: 768px){
        padding: 10px 10px;
        width: 80%;
      }
      @media all and (min-width: 769px){
        padding: 30px 20px;
        width: 30%;
      }
      .header{
        display: flex;
        align-items: center;
        p{
          padding-top: 4px;
          margin: 0;
          font-weight: bold;
          font-size: 14px;
        }
        img{
          height: 15px;
          width: 15px;
        }
        .feature-image{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $green;
          padding: 8px;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          margin-right: 10px;
        }
      }
      .description{

      }
    }
  }
}
#product-support{
  width: 70%;
  margin: 80px auto;
  h2{
    margin-bottom: 40px;
  }
  p{
    font-size: 16px;
    font-weight: lighter;
  }
  .security-logos{
    margin-bottom: 40px;
  }
  .support-images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .security{
      width: 10%;
      display: flex;
      flex-direction: column;
      .security-logo{
        width: 100%;
        max-width: 100%;
        max-height: 300px;
        margin: 5px 0;
      }
    }
    .iphone{
      width: 10%;
      max-width: 150px;
    }
    .macbook{
      width: 50%;
      max-width: 500px;
    }
  }
}

.video-container{
  @media all and (max-width: 768px){
    width: 100%;
  }
  @media all and (min-width: 769px){
    width: 70%;
  }
  margin: auto;
}

#product-video{
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
#product-video{
  padding-bottom: 56.25%;
}

#product-video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
