
.user-detail{
  display: none;
}
.user-head{
  padding: 0 40px;
  background-color: white;
  color: $blue-light;
  font-size: 14px;
}
.user-head .filter-tab{
  cursor: pointer;
}
.user-head .filter-tab:hover{
  color: $green;
}
#user-head p{
  margin-left: 35px;
}
#users-search{
  padding-top: 15px;
  margin-bottom: 0px;
}
#users-list{
  padding: 0 25px;
  padding-bottom: 30px;
  margin-top: 0px;
}
section.section-index{
  padding: 0 0 0 0;
}
