.contract-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  margin-top: -20px;
  width: calc(100% + 40px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  min-height: 300px;
  img{
    width: 100%;
  }
}





.welcome-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  margin-top: -20px;
  width: calc(100% + 40px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  // background-repeat: no-repeat;
  background-size: auto 100%;
  // background-position: center;
  min-height: 300px;
  img{
    width: 100%;
  }
}
.welcome-video{
  margin-top: 40px;
  margin-bottom: 40px;
}

#welcome-message{
  background-color: white;
  padding: 40px;
  p{
    font-size: 16px;
    font-weight: lighter;
  }
  .welcome-message-content{
    padding: 40px;
  }
  .welcome-message-signature{
    margin-bottom: 40px;
  }
}
.overview-text{
  font-size: 16px;
  font-weight: lighter;
}
