<footer class="container-fluid">
  <div class="section section-gray section-footer">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>© 2016 INES OPIFANTI, PORTRAIT PHOTOGRAPHER, HAMBURG. // INES@INES-OPIFANTI.COM // +49 (0)176 - 23 19 58 88</p>
      </div>
    </div>
  </div>
</footer>
