<header class="nav navbar-wagon navbar-fixed-top wrapper nav-down">
  <div id="nav-left">
    <%= render 'shared/navbar/logos' %>
  </div>

  <div class="navbar-wagon-right navbar-wagon-links hidden-xs hidden-sm">
    <%= render 'shared/navbar/links' %>
  </div>

  <div class="navbar-wagon-item hidden-md hidden-lg menu-mobile">
    <%= render 'shared/navbar/mobile_dropdown' %>
  </div>
</header>
