<div class="col-xs-12 col-md-3 text-center">
  <div class="card-round-large">
    <div class="card-round-figure card-color-2">
      <p><%= figure %></p>
    </div>
  </div>
  <div class="card-content card-color-content-2">
    <h2><%= description.html_safe %></h2>
  </div>
</div>
