// Your footer style
footer.container-fluid{
  padding-left:0;
  padding-right:0;
  padding-top:0;
  margin-right: 0;
  margin-left: 0;
}
footer .section{
  padding:10px 0;
  padding-right:35px;
  padding-left:35px;
  margin-top: 0;
  margin-left:0;
  margin-right:0;
  background-color: black;
  color: white;
}
 footer img {
  width: 80px;
  margin-bottom: 20px;
 }
