/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;
  top: 50px;
  border-width: 0;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
