#onboarding-track{
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    opacity: 0.01;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 4.5em;
    cursor: pointer;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    left: 0; top: -.1em;
    width: 4.3em; height: 1.85em;
    background: $gray-light;
    border-radius: 1em;
    transition: background-color .2s;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    width: 1.4em; height: 1.4em;
    transition: all .5s;
    border-radius: 50%;
    background: $gray-medium;
    top: .12em; left: .24em;
  }
  .text {
    display: inline-block;
    vertical-align: middle;
  }

  /* on checked */
  [type="checkbox"]:checked + label:before {
    background: $green;
  }
  [type="checkbox"]:checked + label:after {
    background: white;
    left: 2.7em;
  }

  [type="checkbox"]:checked + label .ui,
  [type="checkbox"]:not(:checked) + label .ui:before,
  [type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: .5em;
    width: 6em;
    border-radius: 1em;
    font-size: .875em;
    font-weight: lighter;
    // transition: all .5s;
  }
  [type="checkbox"]:not(:checked) + label .ui:before {
    content: "";
    left: 2.35em;
    top: .2em;
  }
  [type="checkbox"]:checked + label .ui:after {
    content: "done";
    padding-bottom: 5px;
    top: 0;
    left: .17em;
    color: white;
  }
  // // [type="checkbox"]:focus + label:before {
  // //   border: 1px dashed #777;
  // //   box-sizing: border-box;
  // //   margin-top: -1px;
  // // }
}
