.form-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#settings-track, #onboarding-track, #signin, #user_new, #welcome{
  label{
    font-weight: lighter;
    color: $blue-dark;
  }
  .form-group{
    input, select, textarea{
      border-radius: 14px;
      background-color: white;
      border-width: 1px;
      border-color: $gray-light;
      font-weight: lighter;
      &:focus{
        border-color: $blue;
        transition: all 0.4s ease;
        box-shadow: none;
      }
    }
    input, select{
      height: 21px;
    }
    textarea{
      height: 105px !important;
    }
  }
  .has-error{
    input, select{
      border-color: $red-error;
    }
  }
}

#search-input{
  input, select{
    width: 90%;
    border-radius: 14px;
    height: 21px;
    background-color: white;
    border-width: 0px;
    border-color: $gray-light;
    font-weight: lighter;
    font-size: 12px;
    &:focus{
      border-color: $blue;
      transition: all 0.4s ease;
      box-shadow: none;
    }
  }
}
#orders-search, #onboardees-search{
  input, select{
    border-radius: 14px;
    height: 21px;
    background-color: white;
    border-width: 1px;
    border-color: $gray-light;
    font-weight: lighter;
    font-size: 12px;
    &:focus{
      border-color: $blue;
      transition: all 0.4s ease;
      box-shadow: none;
    }
  }
}
#pulse-check{
  textarea{
    border-radius: 14px;
    height: 60px;
    background-color: white;
    border-width: 1px;
    border-color: $gray-light;
    font-weight: lighter;
    font-size: 12px;
    &:focus{
      border-color: $blue;
      transition: all 0.4s ease;
      box-shadow: none;
    }
  }
}
