.progress {
  height: 35px;
  width: 90%;
}
.progress .skill {
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  color: $blue;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar-training {
  text-align: left;
  transition-duration: 3s;
  background-color: $blue-ultra-light !important;
  border-right: 1px inset $blue-light;
}
