.product{
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  height: 90px;
  &:hover{
    background: $gray-light;
    .product-controls-hidden a{
      color: $gray;
    }
  }
}
.new_kit_resource, .edit_kit_resource, .new_paperwork_resource, .new_user_invitation{
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.product-fields{
  flex: 1 1 auto;
}
.product-title{
  p{
    margin-right: 4px;
    margin-bottom: 0;
  }
}
.product-body{
  flex: 1 1 auto;
  p{
    font-weight: lighter;
    color: $blue-dark;
    margin-bottom: 0;
    margin-left: 6px;
  }
}
.product-image{
  border-radius: 10px;
  margin-right: 20px;
  height: 50px;
  font-size: 50px;
}
.product-controls{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
  a{
    padding: 0 20px;
    font-size: 17px;
    color: $gray-light;
  };
  a:hover .fa-pencil{
    color: $blue !important;
  };
  a:hover .fa-trash{
    color: $red !important
  }
}
.product-controls-hidden a{
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}


// Modal photo

.modal-content{
  border-radius: 10px;
  padding: 10px;
}
.product-new-photo{
  display: flex;
  flex-direction: column;
}
